.displayContainer {
	padding: 30px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.left {
	display: flex;
	flex-direction: column;
	padding-right: 40px;
	justify-content: space-between;
	width: 50%;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
}
.lessonSelect {
	background-color: rgba($color: #000000, $alpha: 0.4);
	width: 500px;
	padding: 10px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 10px;
	-webkit-user-select: none;
	user-select: none;
}

.dropDown {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	overflow: scroll;
	height: 355px;
	width: 500px;

	& > *div {
		padding: 6px;
	}
}

.show {
	height: 390px;
	transition: ease-in-out 0.2s;
}
.hide {
	height: 40px;
	transition: ease-in-out 0.2s;
}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a9a9a9;
}
.dropDownOpen {
	transform: rotate(90deg);
	transition: ease-in-out 0.2s;
}

.dropDownClosed {
	transition: ease-in-out 0.2s;
}
.header {
	font-size: 30px;
}
.completionStandards {
	padding-top: 20px;
	background-color: rgba($color: #000000, $alpha: 0.4);
	width: 760px;
	height: 408px;
	border-radius: 10px;
}
.content {
	padding-top: 20px;
	background-color: rgba($color: #000000, $alpha: 0.4);
	width: 100%;
	height: 435px;
	border-radius: 10px;
	overflow: auto;
}
.briefNotes {
	padding-top: 20px;
	background-color: rgba($color: #000000, $alpha: 0.4);
	width: 760px;
	height: 435px;
	border-radius: 10px;
	overflow: auto;
}
