body {
	margin: 0;
	font-family: 'Carme', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.root {
	width: 1800px;
	height: 1000px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 14px;
	padding: 00px;
	overflow: hidden;
	display: flex;
}

::selection {
	color: white;
	background: rgba(51, 79, 117, 0.4);
}
